
@{
    ViewBag.Title = "Staff Home";
}

<div class="jumbotron">
    <h1 style="text-align: center">@ViewBag.Title</h1>

</div>

<table class="table">

    <tbody>
        <tr>
            <td style="text-align: center">
                @Html.ActionLink("Book a lesson", "StaffBookALesson", "Booking", null, new { @class = "btn btn-primary" })
            </td>
            <td style="text-align: center">
                @Html.ActionLink("Cancel a booking", "StaffBookALesson", "Booking", null, new { @class = "btn btn-primary" })
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                @Html.ActionLink("Take notes", "TakeNotes", "Staff", null, new { @class = "btn btn-primary" })
            </td>
            <td style="text-align: center">
                @Html.ActionLink("Edit lesson details", "StaffBookALesson", "Booking", null, new { @class = "btn btn-primary" })
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                @Html.ActionLink("Change lesson price", "ChangeLessonPrice", "Staff", null, new { @class = "btn btn-primary" })
            </td>
            <td style="text-align: center">
                @Html.ActionLink("Produce report", "ProduceReport", "Staff", null, new { @class = "btn btn-primary" })
            </td>
        </tr>

    </tbody>
</table>