
@{
    ViewBag.Title = "Customer Home";
}

<div class="jumbotron">
    <h1 style="text-align: center">@ViewBag.Title</h1>

</div>

<table class="table">
    <tr>
        <td style="text-align: center">
            @Html.ActionLink("Book a lesson", "BookALesson", "Customer", null, new { @class = "btn btn-primary" })
        </td>
    
        <td style="text-align: center">
            @Html.ActionLink("Cancel a lesson", "CancelALesson", "Customer", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
    
    <tr>
        <td style="text-align: center">
            @Html.ActionLink("Pay for a lesson", "PayForLesson", "Customer", null, new { @class = "btn btn-primary" })
        </td>

        <td style="text-align: center">
            @Html.ActionLink("Edit details", "EditDetails", "Customer", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
</table>
